*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url("../img/backgroundImage.png");
    background-repeat: repeat;    
}

.wrapper{
    width: 1570px;
    height: 1000px;
    background-color: #fff;
    margin: auto;
}

nav{
    width: 100%;
    height: 80px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}
nav img{
    border-radius: 50%;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    transition: .8s;
}

nav ul li:hover{
    background-color: black;
}
nav a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 15px 20px;
    font-weight: bold;
    transition: .5;
}

nav a:hover{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: rgb(188, 238, 9);
    padding: 15px 20px;
    font-weight: bold;
    /* background-color: black; */
}


.banner{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, rgb(236, 234, 207), rgb(229, 247, 164));
}

.slogan{
    margin-left: 50px;
    margin-top: 50px;
    
}

.slogan .slogan_1{
    font-family: 'Sriracha', cursive;
    font-size: 50px;
    color: rgb(9, 110, 31);
}

.slogan .slogan_2{
    font-family: 'Pattaya', sans-serif;
    font-size: 100px;
    color: green;
}



.my_pic img{
    border-radius: 50%;
    width: 400px;
    border: green solid 10px;
    margin: 50px 50px 0 0 ;
}

.cards1{
    display: flex;
    justify-content: space-around;
}

.cards1 img{
    width: 200px;
    transition: .8;
}
